<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_connection</key>
	<string>_connection.glif</string>
	<key>_connection2</key>
	<string>_connection2.glif</string>
	<key>_twodot.001</key>
	<string>_twodot.001.glif</string>
	<key>_twodots</key>
	<string>_twodots.glif</string>
	<key>_twodots.001</key>
	<string>_twodots.001.glif</string>
	<key>_twodots.002</key>
	<string>_twodots.002.glif</string>
	<key>_twodots.003</key>
	<string>_twodots.003.glif</string>
	<key>ain-ar</key>
	<string>ain-ar.glif</string>
	<key>ain-ar.fina</key>
	<string>ain-ar.fina.glif</string>
	<key>ain-ar.init</key>
	<string>ain-ar.init.glif</string>
	<key>ain-ar.medi</key>
	<string>ain-ar.medi.glif</string>
	<key>alef-ar</key>
	<string>alef-ar.glif</string>
	<key>alef-ar.fina</key>
	<string>alef-ar.fina.glif</string>
	<key>alefHamzaabove-ar</key>
	<string>alefH_amzaabove-ar.glif</string>
	<key>alefHamzaabove-ar.fina</key>
	<string>alefH_amzaabove-ar.fina.glif</string>
	<key>alefHamzabelow-ar</key>
	<string>alefH_amzabelow-ar.glif</string>
	<key>alefHamzabelow-ar.fina</key>
	<string>alefH_amzabelow-ar.fina.glif</string>
	<key>alefMadda-ar</key>
	<string>alefM_adda-ar.glif</string>
	<key>alefMadda-ar.fina</key>
	<string>alefM_adda-ar.fina.glif</string>
	<key>alefMaksura-ar</key>
	<string>alefM_aksura-ar.glif</string>
	<key>alefMaksura-ar.fina</key>
	<string>alefM_aksura-ar.fina.glif</string>
	<key>alefWasla-ar</key>
	<string>alefW_asla-ar.glif</string>
	<key>alefWasla-ar.fina</key>
	<string>alefW_asla-ar.fina.glif</string>
	<key>alef_small</key>
	<string>alef_small.glif</string>
	<key>alefabove-ar</key>
	<string>alefabove-ar.glif</string>
	<key>alefbelow-ar</key>
	<string>alefbelow-ar.glif</string>
	<key>asterisk-ar</key>
	<string>asterisk-ar.glif</string>
	<key>beh-ar</key>
	<string>beh-ar.glif</string>
	<key>beh-ar.fina</key>
	<string>beh-ar.fina.glif</string>
	<key>beh-ar.init</key>
	<string>beh-ar.init.glif</string>
	<key>beh-ar.medi</key>
	<string>beh-ar.medi.glif</string>
	<key>behDotless-ar</key>
	<string>behD_otless-ar.glif</string>
	<key>behDotless-ar.fina</key>
	<string>behD_otless-ar.fina.glif</string>
	<key>behDotless-ar.init</key>
	<string>behD_otless-ar.init.glif</string>
	<key>behDotless-ar.medi</key>
	<string>behD_otless-ar.medi.glif</string>
	<key>behDotless-ar.medi.001</key>
	<string>behD_otless-ar.medi.001.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>comma-ar</key>
	<string>comma-ar.glif</string>
	<key>dad-ar</key>
	<string>dad-ar.glif</string>
	<key>dad-ar.fina</key>
	<string>dad-ar.fina.glif</string>
	<key>dad-ar.init</key>
	<string>dad-ar.init.glif</string>
	<key>dad-ar.medi</key>
	<string>dad-ar.medi.glif</string>
	<key>dal-ar</key>
	<string>dal-ar.glif</string>
	<key>dal-ar.fina</key>
	<string>dal-ar.fina.glif</string>
	<key>damma-ar</key>
	<string>damma-ar.glif</string>
	<key>dammatan-ar</key>
	<string>dammatan-ar.glif</string>
	<key>decimalseparator-ar</key>
	<string>decimalseparator-ar.glif</string>
	<key>dotabove-ar</key>
	<string>dotabove-ar.glif</string>
	<key>dotbelow-ar</key>
	<string>dotbelow-ar.glif</string>
	<key>dotcenter-ar</key>
	<string>dotcenter-ar.glif</string>
	<key>doublestroke-ar</key>
	<string>doublestroke-ar.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight-ar</key>
	<string>eight-ar.glif</string>
	<key>fatha-ar</key>
	<string>fatha-ar.glif</string>
	<key>fathatan-ar</key>
	<string>fathatan-ar.glif</string>
	<key>feh-ar</key>
	<string>feh-ar.glif</string>
	<key>feh-ar.fina</key>
	<string>feh-ar.fina.glif</string>
	<key>feh-ar.init</key>
	<string>feh-ar.init.glif</string>
	<key>feh-ar.medi</key>
	<string>feh-ar.medi.glif</string>
	<key>fehDotless-ar</key>
	<string>fehD_otless-ar.glif</string>
	<key>fehDotless-ar.fina</key>
	<string>fehD_otless-ar.fina.glif</string>
	<key>fehDotless-ar.init</key>
	<string>fehD_otless-ar.init.glif</string>
	<key>fehDotless-ar.medi</key>
	<string>fehD_otless-ar.medi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five-ar</key>
	<string>five-ar.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four-ar</key>
	<string>four-ar.glif</string>
	<key>gaf-ar</key>
	<string>gaf-ar.glif</string>
	<key>gaf-ar.fina</key>
	<string>gaf-ar.fina.glif</string>
	<key>gaf-ar.init</key>
	<string>gaf-ar.init.glif</string>
	<key>gaf-ar.medi</key>
	<string>gaf-ar.medi.glif</string>
	<key>gafsarkashabove-ar</key>
	<string>gafsarkashabove-ar.glif</string>
	<key>gafsarkashcenter-ar</key>
	<string>gafsarkashcenter-ar.glif</string>
	<key>ghain-ar</key>
	<string>ghain-ar.glif</string>
	<key>ghain-ar.fina</key>
	<string>ghain-ar.fina.glif</string>
	<key>ghain-ar.init</key>
	<string>ghain-ar.init.glif</string>
	<key>ghain-ar.medi</key>
	<string>ghain-ar.medi.glif</string>
	<key>hah-ar</key>
	<string>hah-ar.glif</string>
	<key>hah-ar.fina</key>
	<string>hah-ar.fina.glif</string>
	<key>hah-ar.init</key>
	<string>hah-ar.init.glif</string>
	<key>hah-ar.medi</key>
	<string>hah-ar.medi.glif</string>
	<key>hamza</key>
	<string>hamza.glif</string>
	<key>hamza-ar</key>
	<string>hamza-ar.glif</string>
	<key>hamzaabove-ar</key>
	<string>hamzaabove-ar.glif</string>
	<key>hamzaaboveDamma-ar</key>
	<string>hamzaaboveD_amma-ar.glif</string>
	<key>hamzaaboveDammatan-ar</key>
	<string>hamzaaboveD_ammatan-ar.glif</string>
	<key>hamzaaboveFatha-ar</key>
	<string>hamzaaboveF_atha-ar.glif</string>
	<key>hamzaaboveFathatan-ar</key>
	<string>hamzaaboveF_athatan-ar.glif</string>
	<key>hamzaaboveSukun-ar</key>
	<string>hamzaaboveS_ukun-ar.glif</string>
	<key>hamzabelow-ar</key>
	<string>hamzabelow-ar.glif</string>
	<key>hamzabelowKasra-ar</key>
	<string>hamzabelowK_asra-ar.glif</string>
	<key>hamzabelowKasratan-ar</key>
	<string>hamzabelowK_asratan-ar.glif</string>
	<key>heh-ar</key>
	<string>heh-ar.glif</string>
	<key>heh-ar.fina</key>
	<string>heh-ar.fina.glif</string>
	<key>heh-ar.init</key>
	<string>heh-ar.init.glif</string>
	<key>heh-ar.medi</key>
	<string>heh-ar.medi.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>jeem-ar</key>
	<string>jeem-ar.glif</string>
	<key>jeem-ar.fina</key>
	<string>jeem-ar.fina.glif</string>
	<key>jeem-ar.init</key>
	<string>jeem-ar.init.glif</string>
	<key>jeem-ar.medi</key>
	<string>jeem-ar.medi.glif</string>
	<key>jeh-ar</key>
	<string>jeh-ar.glif</string>
	<key>jeh-ar.fina</key>
	<string>jeh-ar.fina.glif</string>
	<key>kaf-ar</key>
	<string>kaf-ar.glif</string>
	<key>kaf-ar.fina</key>
	<string>kaf-ar.fina.glif</string>
	<key>kaf-ar.init</key>
	<string>kaf-ar.init.glif</string>
	<key>kaf-ar.medi</key>
	<string>kaf-ar.medi.glif</string>
	<key>kashida-ar</key>
	<string>kashida-ar.glif</string>
	<key>kasra-ar</key>
	<string>kasra-ar.glif</string>
	<key>kasratan-ar</key>
	<string>kasratan-ar.glif</string>
	<key>keheh-ar</key>
	<string>keheh-ar.glif</string>
	<key>keheh-ar.fina</key>
	<string>keheh-ar.fina.glif</string>
	<key>keheh-ar.init</key>
	<string>keheh-ar.init.glif</string>
	<key>keheh-ar.medi</key>
	<string>keheh-ar.medi.glif</string>
	<key>khah-ar</key>
	<string>khah-ar.glif</string>
	<key>khah-ar.fina</key>
	<string>khah-ar.fina.glif</string>
	<key>khah-ar.init</key>
	<string>khah-ar.init.glif</string>
	<key>khah-ar.medi</key>
	<string>khah-ar.medi.glif</string>
	<key>lam-ar</key>
	<string>lam-ar.glif</string>
	<key>lam-ar.fina</key>
	<string>lam-ar.fina.glif</string>
	<key>lam-ar.init</key>
	<string>lam-ar.init.glif</string>
	<key>lam-ar.medi</key>
	<string>lam-ar.medi.glif</string>
	<key>lam_alef-ar</key>
	<string>lam_alef-ar.glif</string>
	<key>lam_alef-ar.fina</key>
	<string>lam_alef-ar.fina.glif</string>
	<key>lam_alefHamzaabove-ar</key>
	<string>lam_alefH_amzaabove-ar.glif</string>
	<key>lam_alefHamzaabove-ar.fina</key>
	<string>lam_alefH_amzaabove-ar.fina.glif</string>
	<key>lam_alefHamzabelow-ar</key>
	<string>lam_alefH_amzabelow-ar.glif</string>
	<key>lam_alefHamzabelow-ar.fina</key>
	<string>lam_alefH_amzabelow-ar.fina.glif</string>
	<key>lam_alefMadda-ar</key>
	<string>lam_alefM_adda-ar.glif</string>
	<key>lam_alefMadda-ar.fina</key>
	<string>lam_alefM_adda-ar.fina.glif</string>
	<key>lam_alefWasla-ar</key>
	<string>lam_alefW_asla-ar.glif</string>
	<key>lam_alefWasla-ar.fina</key>
	<string>lam_alefW_asla-ar.fina.glif</string>
	<key>madda-ar</key>
	<string>madda-ar.glif</string>
	<key>meem-ar</key>
	<string>meem-ar.glif</string>
	<key>meem-ar.fina</key>
	<string>meem-ar.fina.glif</string>
	<key>meem-ar.init</key>
	<string>meem-ar.init.glif</string>
	<key>meem-ar.medi</key>
	<string>meem-ar.medi.glif</string>
	<key>miniKeheh-ar</key>
	<string>miniK_eheh-ar.glif</string>
	<key>newGlyph</key>
	<string>newG_lyph.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine-ar</key>
	<string>nine-ar.glif</string>
	<key>noon-ar</key>
	<string>noon-ar.glif</string>
	<key>noon-ar.fina</key>
	<string>noon-ar.fina.glif</string>
	<key>noon-ar.init</key>
	<string>noon-ar.init.glif</string>
	<key>noon-ar.medi</key>
	<string>noon-ar.medi.glif</string>
	<key>noonghunna-ar</key>
	<string>noonghunna-ar.glif</string>
	<key>noonghunna-ar.fina</key>
	<string>noonghunna-ar.fina.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one-ar</key>
	<string>one-ar.glif</string>
	<key>one_dot</key>
	<string>one_dot.glif</string>
	<key>parenleft-ar</key>
	<string>parenleft-ar.glif</string>
	<key>parenright-ar</key>
	<string>parenright-ar.glif</string>
	<key>peh-ar</key>
	<string>peh-ar.glif</string>
	<key>peh-ar.fina</key>
	<string>peh-ar.fina.glif</string>
	<key>peh-ar.init</key>
	<string>peh-ar.init.glif</string>
	<key>peh-ar.medi</key>
	<string>peh-ar.medi.glif</string>
	<key>percent-ar</key>
	<string>percent-ar.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>qaf-ar</key>
	<string>qaf-ar.glif</string>
	<key>qaf-ar.fina</key>
	<string>qaf-ar.fina.glif</string>
	<key>qaf-ar.init</key>
	<string>qaf-ar.init.glif</string>
	<key>qaf-ar.medi</key>
	<string>qaf-ar.medi.glif</string>
	<key>qafDotless-ar</key>
	<string>qafD_otless-ar.glif</string>
	<key>qafDotless-ar.fina</key>
	<string>qafD_otless-ar.fina.glif</string>
	<key>question-ar</key>
	<string>question-ar.glif</string>
	<key>reh-ar</key>
	<string>reh-ar.glif</string>
	<key>reh-ar.fina</key>
	<string>reh-ar.fina.glif</string>
	<key>sad-01</key>
	<string>sad-01.glif</string>
	<key>sad-ar</key>
	<string>sad-ar.glif</string>
	<key>sad-ar.fina</key>
	<string>sad-ar.fina.glif</string>
	<key>sad-ar.init</key>
	<string>sad-ar.init.glif</string>
	<key>sad-ar.medi</key>
	<string>sad-ar.medi.glif</string>
	<key>seen-ar</key>
	<string>seen-ar.glif</string>
	<key>seen-ar.fina</key>
	<string>seen-ar.fina.glif</string>
	<key>seen-ar.init</key>
	<string>seen-ar.init.glif</string>
	<key>seen-ar.medi</key>
	<string>seen-ar.medi.glif</string>
	<key>semicolon-ar</key>
	<string>semicolon-ar.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven-ar</key>
	<string>seven-ar.glif</string>
	<key>shadda-ar</key>
	<string>shadda-ar.glif</string>
	<key>shaddaAlefabove-ar</key>
	<string>shaddaA_lefabove-ar.glif</string>
	<key>shaddaDamma-ar</key>
	<string>shaddaD_amma-ar.glif</string>
	<key>shaddaDammatan-ar</key>
	<string>shaddaD_ammatan-ar.glif</string>
	<key>shaddaFatha-ar</key>
	<string>shaddaF_atha-ar.glif</string>
	<key>shaddaFathatan-ar</key>
	<string>shaddaF_athatan-ar.glif</string>
	<key>shaddaKasra-ar</key>
	<string>shaddaK_asra-ar.glif</string>
	<key>shaddaKasratan-ar</key>
	<string>shaddaK_asratan-ar.glif</string>
	<key>sheen-ar</key>
	<string>sheen-ar.glif</string>
	<key>sheen-ar.fina</key>
	<string>sheen-ar.fina.glif</string>
	<key>sheen-ar.init</key>
	<string>sheen-ar.init.glif</string>
	<key>sheen-ar.medi</key>
	<string>sheen-ar.medi.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six-ar</key>
	<string>six-ar.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sukun-ar</key>
	<string>sukun-ar.glif</string>
	<key>tah-ar</key>
	<string>tah-ar.glif</string>
	<key>tah-ar.fina</key>
	<string>tah-ar.fina.glif</string>
	<key>tah-ar.init</key>
	<string>tah-ar.init.glif</string>
	<key>tah-ar.medi</key>
	<string>tah-ar.medi.glif</string>
	<key>tcheh-ar</key>
	<string>tcheh-ar.glif</string>
	<key>tcheh-ar.fina</key>
	<string>tcheh-ar.fina.glif</string>
	<key>tcheh-ar.init</key>
	<string>tcheh-ar.init.glif</string>
	<key>tcheh-ar.medi</key>
	<string>tcheh-ar.medi.glif</string>
	<key>teh-ar</key>
	<string>teh-ar.glif</string>
	<key>teh-ar.fina</key>
	<string>teh-ar.fina.glif</string>
	<key>teh-ar.init</key>
	<string>teh-ar.init.glif</string>
	<key>teh-ar.medi</key>
	<string>teh-ar.medi.glif</string>
	<key>tehMarbuta-ar</key>
	<string>tehM_arbuta-ar.glif</string>
	<key>tehMarbuta-ar.fina</key>
	<string>tehM_arbuta-ar.fina.glif</string>
	<key>thal-ar</key>
	<string>thal-ar.glif</string>
	<key>thal-ar.fina</key>
	<string>thal-ar.fina.glif</string>
	<key>theh-ar</key>
	<string>theh-ar.glif</string>
	<key>theh-ar.fina</key>
	<string>theh-ar.fina.glif</string>
	<key>theh-ar.init</key>
	<string>theh-ar.init.glif</string>
	<key>theh-ar.medi</key>
	<string>theh-ar.medi.glif</string>
	<key>thousandseparator-ar</key>
	<string>thousandseparator-ar.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three-ar</key>
	<string>three-ar.glif</string>
	<key>threedotsdownabove-ar</key>
	<string>threedotsdownabove-ar.glif</string>
	<key>threedotsdownbelow-ar</key>
	<string>threedotsdownbelow-ar.glif</string>
	<key>threedotsupabove-ar</key>
	<string>threedotsupabove-ar.glif</string>
	<key>threedotsupbelow-ar</key>
	<string>threedotsupbelow-ar.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two-ar</key>
	<string>two-ar.glif</string>
	<key>two_dots_2</key>
	<string>two_dots_2.glif</string>
	<key>twodotshorizontalabove-ar</key>
	<string>twodotshorizontalabove-ar.glif</string>
	<key>twodotshorizontalabove-ar.001</key>
	<string>twodotshorizontalabove-ar.001.glif</string>
	<key>twodotshorizontalbelow-ar</key>
	<string>twodotshorizontalbelow-ar.glif</string>
	<key>twodotsverticalabove-ar</key>
	<string>twodotsverticalabove-ar.glif</string>
	<key>twodotsverticalbelow-ar</key>
	<string>twodotsverticalbelow-ar.glif</string>
	<key>veh-ar</key>
	<string>veh-ar.glif</string>
	<key>veh-ar.fina</key>
	<string>veh-ar.fina.glif</string>
	<key>veh-ar.init</key>
	<string>veh-ar.init.glif</string>
	<key>veh-ar.medi</key>
	<string>veh-ar.medi.glif</string>
	<key>wasla-ar</key>
	<string>wasla-ar.glif</string>
	<key>waw-ar</key>
	<string>waw-ar.glif</string>
	<key>waw-ar.fina</key>
	<string>waw-ar.fina.glif</string>
	<key>wawHamzaabove-ar</key>
	<string>wawH_amzaabove-ar.glif</string>
	<key>wawHamzaabove-ar.fina</key>
	<string>wawH_amzaabove-ar.fina.glif</string>
	<key>yeh-ar</key>
	<string>yeh-ar.glif</string>
	<key>yeh-ar.fina</key>
	<string>yeh-ar.fina.glif</string>
	<key>yeh-ar.init</key>
	<string>yeh-ar.init.glif</string>
	<key>yeh-ar.medi</key>
	<string>yeh-ar.medi.glif</string>
	<key>yeh-farsi</key>
	<string>yeh-farsi.glif</string>
	<key>yeh-farsi.fina</key>
	<string>yeh-farsi.fina.glif</string>
	<key>yeh-farsi.init</key>
	<string>yeh-farsi.init.glif</string>
	<key>yeh-farsi.medi</key>
	<string>yeh-farsi.medi.glif</string>
	<key>yehHamzaabove-ar</key>
	<string>yehH_amzaabove-ar.glif</string>
	<key>yehHamzaabove-ar.fina</key>
	<string>yehH_amzaabove-ar.fina.glif</string>
	<key>yehHamzaabove-ar.init</key>
	<string>yehH_amzaabove-ar.init.glif</string>
	<key>yehHamzaabove-ar.medi</key>
	<string>yehH_amzaabove-ar.medi.glif</string>
	<key>zah-ar</key>
	<string>zah-ar.glif</string>
	<key>zah-ar.fina</key>
	<string>zah-ar.fina.glif</string>
	<key>zah-ar.init</key>
	<string>zah-ar.init.glif</string>
	<key>zah-ar.medi</key>
	<string>zah-ar.medi.glif</string>
	<key>zain-ar</key>
	<string>zain-ar.glif</string>
	<key>zain-ar.fina</key>
	<string>zain-ar.fina.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero-ar</key>
	<string>zero-ar.glif</string>
</dict>
</plist>
